@using EInsurance.Models.Enums
@using Microsoft.AspNetCore.Identity
@model IEnumerable<EInsurance.Models.InsurancePolicy>
@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Index";

    var user = await _userManager.GetUserAsync(this.User);
    var isAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.InsuranceAdmin.ToString());
    //ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
     @if (isAdmin)
    {
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    }
    else {
        <a class="btn btn-primary disabled" href="#">Create New</a>
    }
    @*<a asp-action="Create">Create New</a>*@
</p>

<style>
table, th, td {
  border: 4px solid white;
  border-collapse: collapse;
  background-color:cornsilk;
}
/*th, td {
  background-color:cornsilk;
}*/

body{
        
        background-image:url('https://www.intechnic.com/hubfs/Blog/iStock-177036781.jpg');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100%;
          }
</style>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumAssurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Premium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumAssurance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Premium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insurance.InsuranceName)
            </td>
            <td>
                   @if (isAdmin)
              {
                <a class="btn btn-primary " asp-action="Edit" asp-route-id="@item.PolicyId">Edit</a> 
                 
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.PolicyId">Delete</a>
              }
              else {
                 <a class="btn btn-primary disabled" href="#">Edit</a>
                 <a class="btn btn-primary disabled" href="#">Delete</a>
                }
            </td>
              <td>
                |
                <a  class="btn btn-sm btn-success"  asp-action="Details" asp-route-id="@item.PolicyId">Details</a>
               
                |
                <a class="btn btn-sm btn-success" asp-area="InsMgmt" asp-controller="Customers" 
                       asp-action="Create">Apply Policy<br/></a>

                
               @*<a asp-action="Edit" asp-route-id="@item.PolicyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PolicyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PolicyId">Delete</a> *@
               
            </td>
        </tr>
}
    </tbody>
</table>
