@using EInsurance.Models.Enums
@using Microsoft.AspNetCore.Identity
@model IEnumerable<EInsurance.Models.Insurance>
@inject UserManager<IdentityUser> _userManager

@{
    ViewData["Title"] = "Index";
    var user = await _userManager.GetUserAsync(this.User);
    var isAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.InsuranceAdmin.ToString());
}

<h1>Index</h1>

<p>
     @if (isAdmin)
    {
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    }
    else {
        <a class="btn btn-primary disabled" href="#">Create New</a>
          
                
    }
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceName)
            </td>
            <td>
                 @if (isAdmin)
              {
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.InsuranceId">Edit</a> 
                   <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.InsuranceId">Delete</a>
              }
                else {
                 <a class="btn btn-primary disabled" href="#">Edit</a>
                 <a class="btn btn-primary disabled" href="#">Delete</a>
                }   
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.InsuranceId">Details</a> 
                |
               <a class="btn btn-sm btn-success" asp-area="InsMgmt" asp-controller="InsurancePolicies" 
                       asp-action="GetPolicyOfCategory" 
                       asp-route-filterInsuranceId="@item.InsuranceId">View Plans</a>

               @* <a asp-action="Edit" asp-route-id="@item.InsuranceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InsuranceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InsuranceId">Delete</a> |
                 <a class="btn btn-sm btn-success" asp-area="InsMgmt" asp-controller="InsurancePolicies" 
                       asp-action="GetPolicyOfCategory" 
                       asp-route-filterInsuranceId="@item.InsuranceId">View Plans</a>*@

            </td>
        </tr>
}
    </tbody>
</table>
